.LoginForm {
  font-family: 'Ubuntu', 'sans-serif';
  font-size: 4vh;
  text-align: center;
  background-size: cover;
  background-position: center;
  background-origin: content-box;
  height: 100vh;
}

.LoginForm form {
  width: 80%;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
}

.LoginForm_header {
  height: 40vh;
  padding: 1.5em;
  color: whitesmoke;
}

.LoginForm_header h2 {
  font-family: 'Ubuntu', 'sans-serif';
  font-weight: 400;
  font-size: 6vh;
  margin-bottom: 0;
  color: orangered;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.LoginForm_header h3 {
  font-family: 'Ubuntu', 'sans-serif';
  opacity: 0.8;
  font-weight: 500;
  font-size: 3vh;
}

.LoginForm_message .label {
  white-space: inherit;
  line-height: 1.3em;
  display: inline-block;
  height: 1.5em;
  padding: 0;
}

div.LoginForm_message span.label {
  background-color: transparent;
}
