.HeaderPage {
    font-family: 'Ubuntu', 'sans-serif';
    font-size: 2vh;
    text-align: left;
    background-size: cover;
    background-origin: content-box;
    height: 15vh;
    padding: 1em;
}

.LogoutButton {
    margin-top: 1px;
    margin-right: 2px;
    position: absolute;
    top: 1vh;
    right: 1vh;
    background-color: black;
    color: whitesmoke;
}

.LoginName {
    margin-top: 1px;
    margin-right: 2px;
    position: absolute;
    top: 7vh;
    right: 1vh;
}

.NavMenu {
    position: absolute;
    left: 22vh;
    top: 7.7vh;
}

.sideMenu li {
    font-size: 1.2em;
}

.sideMenu h3 {
    margin-left: 0.5em;
}

/* Position and sizing of burger button */
.bm-burger-button {
    position: fixed;
    width: 36px;
    height: 30px;
    left: 36px;
    top: 36px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
    background: #373a47;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
    height: 24px;
    width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
    background: #f6f6f6;
}

/* General sidebar styles */
.bm-menu {
    background: #eeeeee;
    font-size: 1.15em;
}

/* Styling of overlay */
.bm-overlay {
    background: rgba(0, 0, 0, 0.3);
}

.sideBarItem {
    background: #ee4d2e;
    color: white;
}

a:visited {
    color: black;
}

