.View_Request_Page {
    font-family: 'Ubuntu', 'sans-serif';
    font-size: 2vh;
    text-align: center;
    background-size: cover;
    background-origin: content-box;
    background-color: whitesmoke;
    height: 100vh;
}

.View_Request_Page__Title .View_Request_Page_Request .View_Request_Page__Calendar {
    display: flex;
    justify-content: center;
}

