.NewRequestPage {
    font-family: 'Ubuntu', 'sans-serif';
    font-size: 2vh;
    text-align: center;
    background-size: cover;
    background-origin: content-box;
    background-color: whitesmoke;
    height: 100vh;
}

.NewRequestPage{
    flex-direction: column;

}

.NewRequestPage_Calendar {
    padding: 3vh;
}

.NewRequestPage_Error {
    color: orangered;
}

.NewRequestPage_Request{
    border: 3px solid white;
    border-radius: 1vh;
    width: 60vh;
    padding: 1vh;
    padding-top: 0vh;
    margin: auto;
}

.NewRequestPage_Request Button:hover {
    background-color: orangered;
    color: white;
    font-weight: bold;
}

.NewRequestPage_Request_container {
    display: flex;
    justify-content: center;
}

.NewRequestPage_Request_container_item {
    padding-top: 1vh;
    padding-left: 2vh;
}