.DashboardPage_Request {
    border: 3px solid white;
    border-radius: 1vh;
    width: 60vh;
    padding: 1vh;
    padding-top: 0vh;
    margin: auto;
}

.DashboardPage_Request_Badge {
    font-size: 2vh;
}

.DashboardPage_Request Button {
    margin-right: 1vh;
}
