.AllRequests_Request {
    border: 3px solid white;
    border-radius: 1vh;
    width: 60vh;
    padding: 1vh;
    padding-top: 0vh;
    margin: auto;
}

.AllRequests_Request_Badge {
    font-size: 2vh;
}

.AllRequests_Request Button {
    margin: 1vh;
}

.AllRequests_Request_container {
    display: flex;
    justify-content: space-evenly;
    padding-top: 1vh;
}

.AllRequests_Request_container_item {
    padding-top: 3vh;
}

.AllRequests_Request_from-to{
    margin-top: 1vh;
}
