.DashboardPage {
    font-family: 'Ubuntu', 'sans-serif';
    font-size: 2vh;
    text-align: center;
    background-size: cover;
    background-origin: content-box;
    background-color: whitesmoke;
    height: 100vh;
}

.DashboardPage_dashboard h3 {
    opacity: 0.8;
    font-weight: 500;
    font-size: 3vh;
}

.DashboardPage_dashboard {
    height: 40vh;
    padding: 3em;
}

