.container {
    display: flex; /* or inline-flex */
    justify-content: space-evenly;
}

.Status_Bar__item {
    border: white solid 3px;
    border-radius: 1vh;
    padding: 2vh;
    width: 17vh;
    height: 15vh;
}

.Status_Bar__item i {
    font-size: 5vh;
}

.Status_Bar__item:hover {
    background-color: #D1D3C8;
}