.ViewRequestPage {
    font-family: 'Ubuntu', 'sans-serif';
    font-size: 2vh;
    text-align: center;
    background-size: cover;
    background-origin: content-box;
    background-color: whitesmoke;
    height: 100vh;
}