.NewRequestPage {
    font-family: 'Ubuntu', 'sans-serif';
    font-size: 2vh;
    text-align: center;
    background-size: cover;
    background-origin: content-box;
    background-color: whitesmoke;
    height: 100vh;
}

.NewRequestPage_Requests {
    display: flex;
    justify-content: center;
}

.NewRequestPage_Calendar {
    padding: 3vh;
}
